<div class="nav-bar-principal">
  <div class="nav-bar-home">
    <a href ="">
      <img src="icons8-home.svg">
    </a>
  </div>
  <div class="nav-bar-navigation">
    <div class="nav-bar-jeux-de-carte">Jeux de carte</div>
    <div class="nav-bar-jeux-de-role">Jeux de rôle</div>
    <div class="nav-bar-jeux-de-societe">Jeux de société</div>
  </div>
  <div class="nav-bar-utilisateur">
    <div class="nav-bar-panier"> <a href ="">
      <img class="cart" src="shopping-cart-svgrepo-com.svg">
    </a></div>
    <div class="nav-bar-connection">
      <a href ="">
        <img class="cart" src="user-people-account-svgrepo-com.svg">
      </a>
    </div>
    </div>
  </div>
